:root {
    --olive: #687864;
    --darkblue: #31708E;
    --teal: #5085A5;
    --lightblue: #8FC1e3;
    --offwhite: #F7F9FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--darkblue);
    width: 100%;
    color: var(--offwhite);
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 15px;

}

.header-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-wrapper h1 {
    padding: 15px;

}

body {
    background-color: var(--lightblue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding: 60px;
}

/*Nav Bar Style*/
nav {
    width: 50%;
}

.nav-bar {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.nav-bar a {
    text-decoration: none;
    color: var(--offwhite);
    
}

/*Hero Style*/
.hero {
    background-image: url(../images/my-classroom.jpg);
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start
}

.hero h2 {
    color: var(--offwhite);
    font-size: 50px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/*About Me Style*/
.about {
    margin: 20px;
}

.about p {
    padding: 10px 0px;
}

/*Projects Style*/
.projects {
    margin: 20px;
}

/*Contact Me Style*/
.contact {
    margin: 20px;
}
