:root {
    --olive: #687864;
    --darkblue: #31708E;
    --teal: #5085A5;
    --lightblue: #8FC1e3;
    --offwhite: #F7F9FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: var(--offwhite);
}

header {
    background-color: var(--darkblue);
    width: 100%;
    color: var(--offwhite);
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 15px;

}

.header-wrapper {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-wrapper h1 {
    padding: 15px;
}

body {
    background-color: var(--lightblue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding: 20px 60px;
}

.section-heading {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid var(--offwhite);
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

.page-section {
    display: flex;
}

.section-content {
    width: 80%;
    padding: 20px;
}

/*Nav Bar Style*/
nav {
    width: 50%;
}

.nav-bar {
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.nav-bar a {
    text-decoration: none;
    color: var(--offwhite);
    font-size: x-large;
}

/*Hero Style*/
.hero {
    background-image: url(../images/my-classroom.jpg);
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 60px;
}

.hero h2 {
    color: var(--offwhite);
    font-size: 50px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/*About Me Style*/
.about {
    margin: 10px 20px;
}

.about p {
    padding: 10px 0px;
}

.about img {
    display: flex;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    ;
}

.portrait-box {
    display: flex;
    flex-direction: column;
}

/*Projects Style*/
.projects {
    margin: 20px;
}

.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
}

.grid-item:first-child {
    grid-column: span 2;
    grid-row: span 3;
}

.grid-head {
    background-color: var(--olive);
    width: auto;
    margin: 10px 0;
    padding: 5px;
}

.grid-item {
    border: 5px solid darkgray;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    background-size: cover;
}

.run-buddy-grid {
    background-image: url(../images/run-buddy-grid-pic.PNG);
}

.mern-grid {
    background-image: url(../images/mern-placeholder.jpg);

}

.node-grid {
    background-image: url(../images/node-placeholder.jpg);
}

.java-grid {
    background-image: url(../images/JavaScript-placeholder.png);
}

/*Contact Me Style*/
.contact {
    margin: 20px;
}

.contact a {
    text-decoration: none;
    color: black;
    padding: 20px;
    }

/*For tablets and smaller*/
@media screen and (max-width: 768px) {

h1 {
    font-size: 50px;
}

.page-wrapper {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
}

.page-section {
    flex-direction: column;
}

section {
    padding: 0px 20px;
    align-items: center;
}

.section-content {
    width: 500px;
}

.section-heading {
    width: 50%;
    border-right: none;
    border-bottom: 5px solid var(--offwhite);
}

.nav-bar a {
    font-size: initial;
}

.hero h2 {
    text-align: center;
}

.grid-container {
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-item:first-child {
    grid-column: span 3;
    grid-row: span 2;
}

.grid-head {
    font-size: smaller;
}

.contact a {
    display: flex;
    padding: 5px;
    justify-content: center;
    }

}